.form {
  height: fit-content;
  width: 45rem;
  margin: 10rem auto 0;

  padding: 5rem 6rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;

  h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  label {
    display: inline-block;
    margin-bottom: 0.4rem;
    font-size: 1rem;
    color: rgb(93, 93, 93);
  }

  input {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 2rem;
  }
}
