.header {
  height: 5.5rem;
  padding: 0 2rem;
  background-color: rgb(27, 27, 27);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  color: #fff;

  .layout {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 1.4rem;
      text-transform: uppercase;

      .bar {
        display: inline-block;
        width: 1px;
        height: 1.2rem;
        margin: 0 10px;
        background-color: #747474;
      }

      a {
        color: #fff;
      }

      span {
        letter-spacing: -0.5px;
      }
    }

    .nav-links {
      display: flex;
      text-decoration: none;
      font-size: 1.4rem;

      .link-item {
        color: #fff;
        display: inline-block;
        font-size: 1.4rem;
        text-decoration: none;
        margin: auto 2rem;

        &:hover {
          border-bottom: 1px solid #dcdcdc;
          cursor: pointer;
        }
      }
    }
  }
}
